<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_compass"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScoreConnectPrototype">
        <activity android:name=".HomeActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HistoryActivity"/>
        <activity android:name=".CreateMatchStep1Activity"/>
        <activity android:name=".CreateMatchStep2Activity"/>
        <activity android:name=".WaitingPlayersActivity" />
        <activity android:name=".FindMatchResultsActivity" />
        <activity android:name=".FindMatchFiltersActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".RegisterActivity" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
